doctype html
html(lang="pt-br" prefix="og: http://ogp.me/ns#")

	head

		title Novo
		link(rel="manifest" href="manifest.json")
		//- meta
		meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0")
		meta(charset="utf-8")

		//- favicons
		link(rel="icon" href="assets/img/favicons/favicon-16.png" sizes="16x16")
		link(rel="icon" href="assets/img/favicons/favicon-32.png" sizes="32x32")
		link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-144x144.png" sizes="144x144")
		link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-114x114.png" sizes="114x114")
		link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon-72x72.png" sizes="72x72")
		link(rel="apple-touch-icon" href="assets/img/favicons/apple-touch-icon.png")

		//- head requests
		//- ===========================================
		link(rel="stylesheet" href="assets/styles/style.css")

	body

		//- header
		//- ===========================================
		header.header
			a(href="index.html" class="link" id="link_1") Minhas Reservas
			a(href="novo.html" class="link link-active" id="link_2") Nova Reserva
			a(href="disponiveis.html" class="link" id="link_3") Jazigos Disponíveis


		//- Content
		//- ===========================================
		main.main
			iframe(frameborder="0" scrolling="yes" marginheight="0" marginwidth="0" class="content" id="content" src="https://sgc.erp-pegasus.com.br/portal-rio/reservas/nova-reserva.jsp")

		//- Bottom requests
		//- ===========================================
		script(type="text/javascript" src="assets/scripts/scripts.min.js")
